<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style type="text/css">
        body{
            background-image: url("https://th.bing.com/th/id/R.1dd260ac6d82c4ed32f71584d67c6b7b?rik=BJ0rpTsPPbMQYg&riu=http%3a%2f%2fn.sinaimg.cn%2fsinakd20114%2f30%2fw2048h1182%2f20200610%2f879a-iuvaazn8585459.jpg&ehk=mJtdSmCFOdhGdfxDbWyz3Cj8bqYPJ7h%2b%2f%2bVzSqLQXZg%3d&risl=&pid=ImgRaw&r=0");
        }
    </style>
</head>

<body>
    <div align="center"><h1>用户注册</h1></div></div><br><br><br><br><br><br>
    <div align="center">
        <form action="/insert" method="post">
            名称:<input type="text" name="name" value=""><br><br>
            密码:<input type="password" name="password" value=""><br><br>
            <input type="submit" name="submit" value="注册">
            <input type="reset" name="reset" value="取消">
        </form>
    </div>
</body>
</html>